/* box-sizing definido ya por Bootstrap
* {
    box-sizing: border-box;
  }
*/
  
/* probar distintos background*/
body {
    background-color: rgb(226, 234, 241);
}

/*
    p {
    color: red;
    }
*/

h1 {
    color: blue;  
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Silkscreen', cursive;
}

.h2 {
  text-align: left;
  margin-top: 50px;
  border-bottom: rgb(67, 34, 129) solid;

}

/*
img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
  }

*/

/* los iconos de bootstrap */
.i-fb {
  font-size: 20px;
  color: blue;
  padding-right: 5px;
}

.i-youtube {
  font-size: 20px;
  color: red;
  padding-right: 5px;
}

.i-mail {
  font-size: 20px;
  color: rgb(255, 208, 0);
  padding-right: 5px;
}

.i-te {
  font-size: 20px;
  color: rgb(0, 255, 34);
  padding-right: 5px;
}

/* son de la navbar de bootstrap */

.navbar-collapse {
  align-items:center;
  /* justify-content: space-between; */
}

@media screen and (max-width: 767px ){
 .navbar-brand {
     display: none;
  }

}

.datos {
  
}

.experiencia {
  
}


.periodo {
  margin-bottom: 40px;
}

.subtitulo h2 {
  font-size: 1.5rem;
  color: #615151;
  /*text-align: center;*/
}    

.col1 {
    text-align: left;
    /*padding-left: 100px;*/
}

.habilidad-titulo {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

/* Pie de pagina */
  
.footer-texto {
    font-size: 0.9rem;
    padding: 20px;
    margin-bottom: 30px;
    border-top: solid;
}

/* Fondo modal: negro con opacidad al 50% */
.modal {
  display: none; /* Por defecto, subtituloará oculto */
  position: fixed; /* Posición fija */
  z-index: 1; /* Se situará por encima de otros elementos de la página*/
  padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Algura completa */
  overflow: auto; /* Se activará el scroll si es necesario */
  background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
}

/* Ventana o caja modal */
.contenido-modal {
  position: relative; /* Relativo con respecto al contenedor -modal- */
  background-color: white;
  margin: auto; /* Centrada */
  padding: 20px;
  width: 60%;
}


/* Botón cerrar */
.close {
  color: black;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}