/* box-sizing definido por Bootstrap
* {
    box-sizing: border-box;
  }
*/
  
/*
body {
    background-color: brown;
    }

 

h1 {
    color: blue;
    }
p {
    color: red;
    }
*/

/*  */
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Silkscreen', cursive;
    }

/*
img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
  }

*/

.jjt {
  margin-bottom: 40px;
}

.datos h2 {
  font-size: 1.5rem;
  color: #615151;
  text-align: center;
}    
.col1 {
    text-align: right;
}

.habilidades {
    padding: 40px 40px 60px 40px;
  }
.habilidad-titulo {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }

  .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
  }

/* Pie de pagina */
  
.footer-texto {
    font-size: 1rem;
    padding: 20px;
    margin-bottom: 30px;
}

/* Fondo modal: negro con opacidad al 50% */
.modal {
  display: none; /* Por defecto, estará oculto */
  position: fixed; /* Posición fija */
  z-index: 1; /* Se situará por encima de otros elementos de la página*/
  padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Algura completa */
  overflow: auto; /* Se activará el scroll si es necesario */
  background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
}

/* Ventana o caja modal */
.contenido-modal {
  position: relative; /* Relativo con respecto al contenedor -modal- */
  background-color: white;
  margin: auto; /* Centrada */
  padding: 20px;
  width: 60%;
 }


/* Botón cerrar */
.close {
  color: black;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}